* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

/* header with logo */
header {
    height: 70px;
    padding-left: 20px;
    background-color: #fff;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
}


/* todo list container  */
.container {
    max-width: 800px;
    background-color: #fff;
    margin: 40px auto 0;
}

/* buttons */
.buttons {
    padding: 14px 50px;
    border-bottom: 1px solid gray;
}

button {
    display: inline-block;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 4px;

    background-color: #47ADF1;
    color: #fff;
    border: none;
}

.disabled {
    background-color: #fff;
    color: gray;
    border: solid 1px gray;
}

/* to do list */
section {
    padding: 35px 40px 0;
}

li {
    list-style-type: none;
}


/* check and cross */

.done, .todo {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    vertical-align: center;
    margin-right: 6px;
}

.done {
    color: green;
    border: solid 1px green;
}

.todo {
    color: red;
    border: solid 1px red;
}