* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: gray;
}

/* header with logo */
header {
    height: 70px;
    padding-left: 20px;
    background-color: #fff;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
}


/* todo list container  */
.container {
    max-width: 800px;
    background-color: #fff;
    margin: 40px auto 0;
}

/* buttons */
.buttons {
    padding: 14px 50px;
    border-bottom: 1px solid gray;
}