* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header with logo */
header {
    height: 70px;
    padding-left: 20px;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
}