* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
}

/* header with logo */
header {
    height: 70px;
    padding-left: 20px;
    background-color: #fff;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
}


/* todo list container  */
main {
    max-width: 800px;
    background-color: #fff;
    margin: 40px auto 0;
    border-radius: 4px;
}

/* buttons */
.buttons {
    padding: 14px 50px;
    border-bottom: 1px solid #F6F8F9;
}

button {
    display: inline-block;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 4px;

    background-color: #47ADF1;
    color: #fff;
    border: none;
}

.disabled {
    background-color: #fff;
    color: #C5CBD0;
    border: solid 1px #C5CBD0;
}

/* to do list */
section {
    padding: 36px 50px 0;
}
section:last-of-type {
    padding: 36px 40px 35px;
}

li {
    list-style-type: none;
    line-height: 36px;
}

/* check and cross */
.done, .todo {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    vertical-align: center;
    margin-right: 6px;
}

.done {
    color: green;
    border: solid 1px green;
}

.todo {
    color: red;
    border: solid 1px red;
}

/* tag with colors */

.tag {
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    margin-left: 6px;
}

.light-blue {
    background-color: #47ADF1;
}

.purple {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}

.yellow {
    background-color: #F29E33;
}

.pink {
    background-color: #D863A1;
}

.olive {
    background-color: #B0C926;
}